body {
    padding-top: 72px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input, select, textarea {
    max-width: 280px;
    outline: none;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

@media screen and (max-width:767px) {
    .carousel-caption {
        display: none;
    }
}
.summaryDescription {
    text-align: center;
    margin: 80px 0;
}
    .summaryDescription b {
        color: #DB0C75;
        font-size: 40px;
    }
.footer {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: #e7e7e7;
    height: 260px;
    border: 1px solid #f8f8f8;
    margin: 50px 0 0 0;
}

    .footer .trademark {
        padding: 25px 0 25px 0;
    }

        .footer .trademark .logo {
            background-image: url(images/logo-black.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 160px;
            height: 44px;
            margin: 0 auto 0 auto;
        }

        .footer .trademark .logoWord {
            margin-left: 50px;
            font-size: 36px;
            padding-top: 3px;
            color: #A9A9A9;
        }

    .footer .splitLine {
        margin: 0 auto 25px auto;
        width: 1px;
        height: 25px;
        background-color: #E7E7E7;
    }

    .footer .copyright {
        color: #a9a9a9;
        display: inline-block;
        position: relative;
        font-size: 12px;
    }

    .footer .getInTouch ul {
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        display: inline-block;
    }

        .footer .getInTouch ul li {
            float: left;
            text-align: center;
            margin: 0 6px 3px 6px;
        }
.footerAbout {
    margin: 60px 0;
}
.subcribeLicense {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #E7E7E7;
    border-radius: 6px;
    margin: 50px auto 50px auto;
    padding: 40px 50px 20px 50px;
    color: #181818;
    background: #fff;
    text-align: center;
    max-width: 300px;
    min-height: 460px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}

    .subcribeLicense .tag {
        position: absolute;
        background-image: url(images/licenseTag.svg);
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        top: -3px;
        left: -3px;
    }

    .subcribeLicense .type {
        font-size: 18px;
        /*color: #DB0C75;*/
    }

    .subcribeLicense .splitLine {
        width: 200px;
        height: 1px;
        background-color: #E7E7E7;
        margin: 20px auto 20px auto;
    }

    .subcribeLicense .price .currency {
        font-size: 18px;
        vertical-align: top;
    }

    .subcribeLicense .price .value {
        font-size: 48px;
    }

    .subcribeLicense .price .oldValue {
        font-size: 12px;
        color: #DB0C75;
        text-decoration: line-through;
        text-decoration-color: #DB0C75;
    }

    .subcribeLicense .price .period {
        font-size: 18px;
    }

    .subcribeLicense .description {
        height: 166px;
    }

        .subcribeLicense .description p {
            margin: 5px 0 5px 0;
            font-size: 14px;
            font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serifï¼›;
            margin-bottom: 12px;
        }
        .subcribeLicense .description p b {
            font-size: 20px;
        }

.paypalButton {
}
    .paypalButton .purchaseButton .logo {
        width: 40px;
        display: block;
        margin: 5px auto;
        padding: 10px;
    }
    .paypalButton .coupon {
        width: 80px;
        margin: 2px;
        border: solid #f8f8f8 1px;
        border-radius: 2px;
    }
    .paypalButton .couponOff {
        font-size: 8px;
        color: #e7e7e7;
    }
.profileCardList {
        list-style: none;
        margin: 0 0 0 0;
    }

    .profileCardList li {
        float: left;
        text-align: center;
    }

.profileCard {
    max-width: 300px;
    background-color: #f7f7f7;
    border-radius: 6px;
    margin: 0 14px 50px 14px;
    padding: 10px 10px 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #a9a9a9;
    text-align: center;
}

    .profileCard .avatar {
        width: 278px;
        height: 278px;
        border-radius: 6px;
    }

    .profileCard .description {
        width: 230px;
        border-radius: 6px;
        background-color: #f7f7f7;
        margin: 0 auto 0 auto;
    }

        .profileCard .description .name {
            font-size: 12px;
            font-style: italic;
        }

.fontHighlight {
    font-size: 28px;
    font-weight: bolder;
}

.faqTitle {
    font-weight: bolder;
}

.couponButton .logo {
    width: 160px;
}

.couponConent {
    display: inline-block;
    position: relative;
    top: -30px;
    left: 36px;
}

    .couponConent .discount {
        font-size: 20px;
    }

    .couponConent .ticket {
        display: inline-block;
        font-size: 12px;
        max-width: 100px;
        color: #A9A9A9;
    }

.navbar-brand .logo {
    margin: 0 3px;
    background-image: url(images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    display: inline-block;
    position: relative;
    top: -10px;
}

.navbar-brand .word {
    position: relative;
    top: -16px;
    font-size: 18px;
    display: inline-block;
    color: #DB0C75;
}
.client {
    height: 120px;
    background-color: #F9FBFA;
}
.clientLogo {
    height: 80px;
    padding: 30px 0;
}
.clientDescription {
    font-size: 18px;
    padding: 30px 0;
    color: #8198A1;
}
.smallIcon {
    height: 20px;
}
.brochure {
    background-color: #F0F4F6;
    height: 450px;
    padding-top: 50px;
}
    .brochure .description {
        margin: 128px 0 20px 0;
    }
        .brochure .description .prefix {
            font-size: 26px;
        }
        .brochure .description .content {
            font-size: 45px;
            height: 50px;
        }
    .brochure .image {
        background-repeat: no-repeat;
        background-image: url(images/brochure-image.png);
        background-size: auto 420px;
        height: 420px;
    }
        .brochure .image a {
            opacity: 0.5;
            display: block;
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
            border-radius: 90px;
            width: 90px;
            height: 90px;
            top: 160px;
            left: 160px;
            position: absolute;
        }
            .brochure .image a:hover {
                opacity: 1;
            }
    .brochure .solution {
        margin: 80px 0 0 0;
        font-size: 16px;
    }
@media (max-width: 992px) {
    .why-pleo-tagline {
        font-size: 45px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .rw-words {
        text-align: center;
    }

    .rw-words-1 div {
        text-align: center;
        overflow: visible !important;
        text-indent: -120px;
    }

        .rw-words-1 div:nth-child(4) {
            text-indent: -90px;
        }
}

@media (min-width: 480px) and (max-width: 992px) {
    .rw-words-1 div {
        text-align: center;
        overflow: visible !important;
        text-indent: -155px;
    }
}

.rw-words {
    display: inline;
    text-indent: 0px;
}

.rw-words-1 div {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #6b969d;
    animation: rotateWord 15s linear infinite 0s;
    line-height: 55px;
}

    .rw-words-1 div:nth-child(2) {
        animation-delay: 3s;
        color: #6b889d;
    }

    .rw-words-1 div:nth-child(3) {
        animation-delay: 6s;
        color: #6b889d;
    }

    .rw-words-1 div:nth-child(4) {
        animation-delay: 9s;
        color: #6b889d;
    }

    .rw-words-1 div:nth-child(5) {
        animation-delay: 12s;
        color: #6b889d;
    }

@keyframes rotateWord {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        transform: translateY(0px);
    }

    17% {
        opacity: 1;
        transform: translateY(0px);
    }

    20% {
        opacity: 0;
        transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.reset-navbar {
    margin: 0;
    background-color: #F0F4F7;
    border-width: 0;
    height: 80px;
    padding: 16px 0 0 0;
}
.reset-navbar-header {
    margin: 0 0 0 30px;
}
.reset-navbar-collapse {
    margin: 0 30px 0 0;
}
.reset-btn {
    border-width: 0px;
    border-radius: 20px;
    background-color: #4A90E2;
    color: #FFFFFF;
    padding: 8px 25px;
    font-size: 12px;
    width: 150px;
}
    .reset-btn:hover {
        background-color: #4A90E2;
        color: #FFFFFF;
    }
.reset-dropdown-toggle {
    border-radius: 6px 6px 0  0;
}
.reset-dropdown-menu {
    border-radius: 0 0 6px 6px;
    background-color: #f8f8f8;
}
.headerScroll {
    background-color: #FFFFFF;
    border-bottom: 1px solid #EFF4FA;
}
.freeDownloadScroll {
    background-color: #DB0C75;
}
.purchaseButton {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border-radius: 100px;
    background-color: #4A90E2;
    box-shadow: 0 3px 6px 0 rgba(74, 144, 226, 0.10);
}
.brand {
    height: 18px;
    background-size: auto 18px;
    background-repeat: no-repeat;
    margin: 30px 0;
}
.lenovo {
    background-image: url(images/lenovo.svg);
}
.sony {
    background-image: url(images/sony.svg);
}
.tempursealy {
    background-image: url(images/tempursealy.svg);
}
.boostsolutions {
    background-image: url(images/boostsolutions.svg);
}
.productName {
    font-size: 36px;
}
.top-features {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
}
    .top-features li {
        font-size: 16px;
    }
.feature:before {
    content: url(images/checked.svg);
    color: #434343;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    width: 12px;
}
.chicActiveDirectory {
    cursor: pointer;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/chicActiveDirectory.png);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}
.chicActiveDirectory-User {
    background-image: url(images/chicActiveDirectory-User.png);
}
.chicActiveDirectory-Contact {
    background-image: url(images/chicActiveDirectory-Contact.png);
}
.chicActiveDirectory-Group {
    background-image: url(images/chicActiveDirectory-Group.png);
}
.chicActiveDirectory-Computer {
    background-image: url(images/chicActiveDirectory-Computer.png);
}
.chicActiveDirectory-OrganizationalUnit {
    background-image: url(images/chicActiveDirectory-OrganizationalUnit.png);
}
.chicActiveDirectory-Container {
    background-image: url(images/chicActiveDirectory-Container.png);
}
.chicActiveDirectory-Dashboard {
    background-image: url(images/chicActiveDirectory-Dashboard.png);
}
.product {
}
.productLogo img{
    height: 60px;
    margin: 50px 0 0 0;
}
.productDetail{
    margin-top: 10px;
}
.step {
    border: 1px solid #E7E7E7;
    margin: 50px auto 50px auto;
    padding: 40px 50px 20px 50px;
    color: #181818;
    background: #fff;
    max-width: 400px;
    min-height: 420px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.19);
}
    .step .action {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: #4A90E2;
        color: #FFFFFF;
        font-size: 35px;
        text-align: center;
    }
    .step .description {
        margin: 20px 0;
        height: 80px;
    }
    .step .actionscreenshot {
        height: 258px;
        width: 258px;
        background-repeat: no-repeat;
        background-size: 258px 258px;
        margin: 0 auto;
    }
    .step .action1screenshot {
        background-image: url(images/action1screenshot.png)
    }
    .step .action2screenshot {
        background-image: url(images/action2screenshot.png)
    }
    .step .action3screenshot {
        background-image: url(images/action3screenshot.png)
    }
.advertisement {
    background-image: url(images/advertisement.svg)
}
.productFeature {
    margin: 60px 0;
}
    .productFeature p {
        font-size: 16px;
    }
        .productFeature p:before {
            content: url(images/checked.svg);
            color: #434343;
            text-align: center;
            margin-right: 10px;
            display: inline-block;
            width: 12px;
        }
.subscribeNow {
    text-align: center;
}
.oneTimePurchase {
    text-align: center;
}
.large-btn {
    border-width: 0px;
    border-radius: 40px;
    background-color: #DB0C75;
    color: #FFFFFF;
    padding: 12px 35px;
    font-size: 40px;
}
    .large-btn:hover {
        background-color: #4A90E2;
        color: #FFFFFF;
    }
.comingSoon {
    margin: 80px 0 0 0;
    font-size: 16px;
    color: #E7E7E7;
}
.productItem {
    margin: 60px 0;
}